section {
   /*
    Sometimes good to use very obvious style to make sure css file and selection in effect
    Search RGB to get up to 16M different values. 
    Companies and flags etc have different colors.
    background-color: #00ff00; 
    */
    
    background-color: orange;
    

    align-items: center;
    width: 70vw;
    height: 80vh;

    /*
    Relatively recently flexbox has become very powerful and popular in CSS
    */
    display: flex;
    justify-content: space-evenly;
}
img {
    /*
    CSS comments look like Java/JS multi-line comments, single-line comments don't work //
     height: 300px;
    */
    
}
.center {
    text-align: center;
    color: red;
  }